<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=TecnodimWeb;User Id=tecnodimweb; Password=#k0t0via1.;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultSesuite" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=SESUITE_TECFY_HOM;User Id=sa; Password=k0t0via1.;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--Repository.SaveRegisterEvent-->
    <add key="Repository.SaveRegisterEvent" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--SoftExpert.Connection.Connection-->
    <add key="SoftExpert.Username" value="tecfyimport" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SoftExpert.Password" value="sesuite" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SoftExpert.Url" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SoftExpert.UrlAdm" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/SoftExpert.Connection.Connection-->
    <!--Sesuite-->
    <add key="Sesuite.Physical.Path" value="C:\\inetpub\\wwwroot\\Tecnodim\\Files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Physical.Path.SE" value="C:\\inetpub\\wwwroot\\Tecnodim\\Files\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Sesuite.Folder.Physical" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Sesuite-->
  </appSettings>
  
</configuration>