<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=TecnodimWeb;User Id=tecnodimweb; Password=#k0t0via1.;" />        
  </connectionStrings>
  <appSettings>
    <!--Repository.SaveRegisterEvent-->
    <add key="Repository.SaveRegisterEvent" value="true" />
    <!--/Repository.SaveRegisterEvent-->
    <!--SoftExpert.Connection.Connection-->
    <add key="SoftExpert.Username" value="tecfyimport" />
    <add key="SoftExpert.Password" value="sesuite" />
    <add key="SoftExpert.Url" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php" />
    <add key="SoftExpert.UrlAdm" value="https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php" />
    <!--/SoftExpert.Connection.Connection-->
    <!--SoftExpert-->
    <add key="SoftExpert.SearchAttributeOwnerUnity" value="SER_cad_cod_unidade" />
    <add key="SoftExpert.SearchAttributeOwnerRegistration" value="SER_cad_Matricula" />
    <add key="SoftExpert.SearchAttributePrefixReplicate" value="SER_cad" />
    <add key="SoftExpert.SearchAttributePendingName" value="SER_EstagioDoc" />
    <add key="SoftExpert.SearchAttributePendingValue" value="a classificar" />
    <add key="SoftExpert.SearchAttributeOwnerCategory" value="000" />
    <add key="SoftExpert.SearchAttributePendingCategory" value="999" />
    <add key="SoftExpert.ParentCategory" value="125.43" />    
    <add key="SoftExpert.JobCategory" value="MFP_digitalizacao" />    
    <add key="SoftExpert.MessageDeleteDocument" value="Documento descartado." />    
    <add key="SoftExpert.JobStatusInitial" value="a classificar" />    
    <add key="SoftExpert.StructID" value="Documentos" />    
    <!--/SoftExpert-->
    <!--File-->
    <add key="Repository.DocumentRepository.Path" value="\\Files\\Documents" />
    <add key="Repository.JobCategoryRepository.Path" value="\\Files\\JobCategories" />
    <!--/File-->
    <!--newAccessPermission-->
    <add key="NewAccessPermission.UserType" value="4" />
    <add key="NewAccessPermission.Permission" value="6" />
    <add key="NewAccessPermission.PermissionType" value="1" />
    <add key="NewAccessPermission.FgaddLowerLevel" value="0" />
    <!--/newAccessPermission-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>