<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftExpert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoftExpert.Properties.Settings>
            <setting name="SoftExpert_com_softexpert_tecfy_Documento" serializeAs="String">
                <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/dc_ws.php</value>
            </setting>
            <setting name="SoftExpert_com_softexpert_tecfy_adm_Administration"
                serializeAs="String">
                <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/adm_ws.php</value>
            </setting>
            <setting name="SoftExpert_com_softexpert_tecfy_gn_Generic" serializeAs="String">
                <value>https://tecfy.softexpert.com/softexpert/webserviceproxy/se/ws/gn_ws.php</value>
            </setting>
        </SoftExpert.Properties.Settings>
    </applicationSettings>
</configuration>